

body{ font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;background-color: #FFF}
#big bag{ width:1080px; margin:0 auto;}
#bag{ width:1022px; margin:0 auto; border-top:5px #606 double; border-bottom:5px #606 double; background-color: #FCF}
h1{color: #C06; padding-left:400px}
h2{color: #C06; padding-left:10px}
p1{ color:#906 ; padding-left:400px; font:"Arial Black", Gadget, sans-serif; font-size:large}
h3{color: #C06}
#pro ul li{ color:#906; padding-left:10px}
p4{ color:#906}