body{ font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;background-color: #FFF}
#big bag{ width:1080px; margin:0 auto;}
#bag{ width:1022px; margin:0 auto; border-top:5px #606 double; border-bottom:5px #606 double; background-color: #FCF}
#link{ position:relative;
left:350px;
width: 250px;
    border: 10px double #606;
    padding: 10px;
    margin:10px;
	}	
p{color: #906}
h1{color: #C06}
p7{ color:#906 }
h2{color:#C06}
p1{color:#906}
h3{color:#C06}
p2{color:#906}
h4{color:#C06}
p3{color:#906}
h5{color:#C06}
p4{color:#906}
h6{color:#C06}
p5{color:#906}
